body {
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    background-color: aliceblue	
}

h1 {
    color: rgb(24, 8, 248);
    border-bottom: 3px solid #1b1b1b;
}
h2 {
    color: rgb(8, 2, 95);
    border-bottom: 3px solid #a3a3a3;
}


form {
    padding: 0 15px;
    text-indent: 15px;
    text-align: justify;
}

.slider-wrapper {
    padding: 0;
}
.slider-wrapper input {
    margin: 0;
    transform-origin: 75px 75px;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
